<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- nav1 -->
    <div class="w3-top">
        <!-- Navigation bar with social media icons -->
        <div class="w3-bar w3-black w3-hide-small">
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
        </div>
        <!-- </div> -->
        <!-- end nav1 -->
        <!-- nav2 -->
        <!-- Navbar (sit on top) -->
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="index.html" class="w3-bar-item w3-button"><b></b> TNews</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="index.html" class="w3-bar-item w3-button">Home</a>
                <a href="hardware.html" class="w3-bar-item w3-button">Hardware</a>
                <a href="cloud.html" class="w3-bar-item w3-button">Cloud</a>
                <a href="infrastructure.html" class="w3-bar-item w3-button">Infrastructure</a>
                <a href="software.html" class="w3-bar-item w3-button">Software</a>
                <a href="technology.html" class="w3-bar-item w3-button">Technology</a>
                <a href="business.html" class="w3-bar-item w3-button">Business</a>
                <a href="security.html" class="w3-bar-item w3-button">Security</a>
                <a href="contactus.html" class="w3-bar-item w3-button">About Us</a>
            </div>
        </div>
    </div>
    <!-- end nav2 -->
</head>
<body>
    <div class="w3-content" style="padding-top: 6%; padding-bottom: 6%;">
          <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE BAND</h2>
    <p class="w3-opacity"><i>We love music</i></p>
    <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Name</p>
        <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>
        <!-- Subscribe -->
        <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
            <h2>Get The Latest News!</h2>
            <p>Join our newsletter.</p>
            <label>E-mail</label>
            <input class="w3-input w3-border" type="text" placeholder="Your Email address">
            <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
        </div>
        <!-- end Subscribe -->
        <div class="w3-container" id="contact">
            <h2>Contact</h2>
            <p>If you have any questions, do not hesitate to ask them.</p>
            <p class="w3-third"><i class="fa fa-map-marker w3-text-red" style="width:30px"></i> KB, IQ</p>
            <p class="w3-third"><i class="fa fa-phone w3-text-red w3-row-padding" style="width:30px"></i> Phone: +964 </p>
            <p class="w3-third"><i class="fa fa-envelope w3-text-red w3-row-padding" style="width:30px"> </i> Email: mail@mail.com</p>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name">
                </p>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required
                        name="Email"></p>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required
                        name="Message"></p>
                <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
            </form>
        </div>
    </div>
</body>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                congue gravida diam non fringilla.</p>
            <p>Powered by <a href="#" target="_blank">US</a></p>
        </div>
        <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul w3-hoverable">
                <li class="w3-padding-16">
                    <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right"
                        style="width:50px">
                    <span class="w3-large">Lorem</span><br>
                    <span>Sed mattis nunc</span>
                </li>
                <li class="w3-padding-16">
                    <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right"
                        style="width:50px">
                    <span class="w3-large">Ipsum</span><br>
                    <span>Praes tinci sed</span>
                </li>
            </ul>
        </div>

        <div class="w3-third">
            <h3>POPULAR TAGS</h3>
            <p>
                <a href="#"><span class="w3-tag w3-black w3-margin-bottom">News</span></a> <a href="#"><span
                        class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a> <a href="#"><span
                        class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a>
            </p>
        </div>

    </div>
    <!-- </footer>
        
        <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="US" target="_blank" class="w3-hover-opacity">w3.css</a></div> -->

    <!-- social footer -->
    <div class="w3-container w3-teal w3-center w3-margin-top">
        <!-- < class="w3-container w3-teal w3-center w3-margin-top"> -->
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="#" target="_blank">US</a></p>
        <!-- end social footer  -->
    </div>
</footer>