<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- nav1 -->
<div class="w3-top">
  <!-- Navigation bar with social media icons -->
  <div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
  </div>
  <!-- </div> -->
  <!-- end nav1 -->
  <!-- nav2 -->
  <!-- Navbar (sit on top) -->
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#" class="w3-bar-item w3-button"><b></b> TNews</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="cloud.html" class="w3-bar-item w3-button">Home</a>
      <a href="hardware.html" class="w3-bar-item w3-button">Hardware</a>
      <a href="cloud.html" class="w3-bar-item w3-button">Cloud</a>
      <a href="infrastructure.html" class="w3-bar-item w3-button">Infrastructure</a>
      <a href="software.html" class="w3-bar-item w3-button">Software</a>
      <a href="technology.html" class="w3-bar-item w3-button">Technology</a>
      <a href="business.html" class="w3-bar-item w3-button">Business</a>
      <a href="security.html" class="w3-bar-item w3-button">Security</a>
      <a href="contactus.html" class="w3-bar-item w3-button">About Us</a>
    </div>
  </div>
</div>
<!-- end nav2 -->
<!-- slide -->
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white w3-padding">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>
  <!-- Slideshow Header -->
  <div class="w3-container" style="padding-top: 6%;" id="apartment">
    <h2 class="w3-text-green"></h2>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/livingroom.jpg" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Living Room</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/diningroom.jpg" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Dining Room</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/bedroom.jpg" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Bedroom</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/livingroom2.jpg" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Living Room II</p>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-section">
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/livingroom.jpg"
        style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/diningroom.jpg"
        style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/bedroom.jpg"
        style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/livingroom2.jpg"
        style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
    </div>
  </div>
  <!-- end slide -->
  <div class="w3-content w3-padding" style="max-width:1564px">
    <!-- Titles Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Pages</h3>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="cloud.html">
          <div class="w3-display-topleft w3-black w3-padding">Cloud</div>
          <img src="https://robots.net/wp-content/uploads/2019/12/featured-1.jpg" alt="House" style="width:100%">
          </a>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
          <img src="img/cloud.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="https://www.w3schools.com/w3images/house3.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="https://www.w3schools.com/w3images/house4.jpg" alt="House" style="width:100%">
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
          <img src="https://www.w3schools.com/w3images/house2.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
          <img src="https://www.w3schools.com/w3images/house5.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="https://www.w3schools.com/w3images/house4.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="https://www.w3schools.com/w3images/house3.jpg" alt="House" style="width:99%">
        </div>
      </div>
    </div>
  </div>
  <!-- latest news -->
  <!-- First Photo Grid -->
  <div class="w3-content w3-padding" style="max-width:1564px">
    <!-- Titles Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Latest News</h3>
    </div>
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="img/shutterstock_Dogecoin cryptocurrency coin.jpg" alt="John McAfee charged with cryptocurrency fraud" style="width:100%"
          class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>John McAfee charged with cryptocurrency fraud</b></p>
          <p>The antivirus pioneer and his bodyguard allegedly made $2 million by laundering the Doge cryptocurrency..</p>
          <a href="art/John McAfee charged with cryptocurrency fraud.html" class="w3-button w3-dark-grey">Read More</a>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%"
          class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Lorem Ipsum</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
          <a class="w3-button w3-dark-grey">Read More</a>

        </div>
      </div>
      <div class="w3-third w3-container">
        <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%"
          class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Lorem Ipsum</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
          <a href="#" class="w3-button w3-dark-grey">Read More</a>

        </div>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="https://www.w3schools.com/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Lorem Ipsum</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
          <a href="#" class="w3-button w3-dark-grey">Read More</a>

        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="https://www.w3schools.com/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Lorem Ipsum</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <img src="https://www.w3schools.com/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Lorem Ipsum</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
        </div>
      </div>
    </div>
    <!-- end latest news -->
    <!-- start who we are -->
    <div class="w3-row-padding" id="about">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
      </div>

      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="img/zm.jpg" alt="John" style="width:100%;">
          <div class="w3-container">
            <h3>Zaman</h3>
            <p class="w3-opacity">Team Leader</p>
            <p></p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>Mike Ross</h3>
            <p class="w3-opacity">Art Director</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Jane" style="width:100%">
          <div class="w3-container">
            <h3>John Doe</h3>
            <p class="w3-opacity">Designer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <!-- end who we are  -->
    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey">
      <!-- <footer class="w3-container w3-teal w3-center w3-margin-top"> -->

      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>FOOTER</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
          <p>Powered by <a href="#" target="_blank">US</a></p>
        </div>
        <div class="w3-third">
          <h3>BLOG POSTS</h3>
          <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
              <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right"
                style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
              <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right"
                style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li>
          </ul>
        </div>

        <div class="w3-third">
          <h3>POPULAR TAGS</h3>
          <p>
            <a href="#"><span class="w3-tag w3-black w3-margin-bottom">News</span></a> <a href="#"><span
                class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a> <a href="#"><span
                class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a>
          </p>
        </div>

      </div>
      <!-- </footer>
    
    <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="US" target="_blank" class="w3-hover-opacity">w3.css</a></div> -->

      <!-- social footer -->
      <div class="w3-container w3-teal w3-center w3-margin-top">

        <!-- < class="w3-container w3-teal w3-center w3-margin-top"> -->
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="#" target="_blank">US</a></p>
        <!-- end social footer  -->
      </div>
    </footer>
    <!-- Pagination
<div class="w3-center w3-padding-32">
  <div class="w3-bar">
    <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
  </div>
</div> -->
    <script>
      // Slideshow Apartment Images
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function currentDiv(n) {
        showDivs(slideIndex = n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
      }
    </script>