<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- nav1 -->
  <div class="w3-top">
    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    </div>
  <!-- </div> -->
  <!-- end nav1 -->
  <!-- nav2 -->
  <!-- Navbar (sit on top) -->
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="index.html" class="w3-bar-item w3-button"><b></b> TNews</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <a href="hardware.html" class="w3-bar-item w3-button">Hardware</a>
        <a href="cloud.html" class="w3-bar-item w3-button">Cloud</a>
        <a href="infrastructure.html" class="w3-bar-item w3-button">Infrastructure</a>
        <a href="software.html" class="w3-bar-item w3-button">Software</a>
        <a href="technology.html" class="w3-bar-item w3-button">Technology</a>
        <a href="business.html" class="w3-bar-item w3-button">Business</a>
        <a href="security.html" class="w3-bar-item w3-button">Security</a>
        <a href="contactus.html" class="w3-bar-item w3-button">About Us</a>
      </div>
    </div>
  </div>
  <!-- end nav2 -->
</head>
<body>
    
</body>
<!-- Footer -->
 <footer class="w3-container w3-padding-32 w3-dark-grey">
    <!-- <footer class="w3-container w3-teal w3-center w3-margin-top"> -->
      
        <div class="w3-row-padding">
          <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <p>Powered by <a href="#" target="_blank">US</a></p>
          </div>
          <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul w3-hoverable">
              <li class="w3-padding-16">
                <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
              </li>
              <li class="w3-padding-16">
                <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
              </li> 
            </ul>
          </div>
          <div class="w3-third">
            <h3>POPULAR TAGS</h3>
            <p>
              <a href="#"><span class="w3-tag w3-black w3-margin-bottom">News</span></a> <a href="#"><span class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a> <a href="#"><span class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a>
            </p>
          </div>
        </div>
        <!-- </footer>
        
        <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="US" target="_blank" class="w3-hover-opacity">w3.css</a></div> -->
      
    <!-- social footer -->
    <div class="w3-container w3-teal w3-center w3-margin-top">
    <!-- < class="w3-container w3-teal w3-center w3-margin-top"> -->
      <p>Find me on social media.</p>
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p>Powered by <a href="#" target="_blank">US</a></p>
    <!-- end social footer  -->
    </div>
    </footer>
    