<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- nav1 -->
  <div class="w3-top">
    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    </div>
  <!-- </div> -->
  <!-- end nav1 -->
  <!-- nav2 -->
  <!-- Navbar (sit on top) -->
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="index.html" class="w3-bar-item w3-button"><b></b> TNews</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <a href="hardware.html" class="w3-bar-item w3-button">Hardware</a>
        <a href="cloud.html" class="w3-bar-item w3-button">Cloud</a>
        <a href="infrastructure.html" class="w3-bar-item w3-button">Infrastructure</a>
        <a href="software.html" class="w3-bar-item w3-button">Software</a>
        <a href="technology.html" class="w3-bar-item w3-button">Technology</a>
        <a href="business.html" class="w3-bar-item w3-button">Business</a>
        <a href="security.html" class="w3-bar-item w3-button">Security</a>
        <a href="contactus.html" class="w3-bar-item w3-button">About Us</a>
      </div>
    </div>
  </div>
  <!-- end nav2 -->
</head>
<body>
    <!-- latest news -->
    <!-- First Photo Grid -->
    <div class="w3-content w3-padding" style="max-width:1564px">
        <!-- Titles Section -->
        <div class="w3-container w3-padding-top-64" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding">Technology News</h3>
        </div>
        <!-- tags  -->
        <!-- Labels / tags -->
      <div class="w3-card w3-margin">
        <div class="w3-container">
          <h4>Common Tags</h4>
        </div>
        <div class="w3-container w3-white">
        <p>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
        </p>
        </div>
      </div>
        <!-- end tags  -->
      <div class="w3-row-padding">
        <div class="w3-quarter w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter w3-container">
          <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter w3-container w3-margin-bottom">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Lorem Ipsum</b></p>
              <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
          </div>
      </div>
      
      <!-- Second Photo Grid-->
      <div class="w3-row-padding">
        <div class="w3-quarter w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container">
          <img src="https://www.w3schools.com/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Lorem Ipsum</b></p>
              <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
          </div>
      </div>
      <!-- third  -->
      <div class="w3-row-padding">
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/mountains.jpg" class="w3-center" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container">
          <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Lorem Ipsum</b></p>
              <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
          </div>
      </div>
    <!-- end third  -->
    <!-- fourth -->
    <div class="w3-row-padding">
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/mountains.jpg" class="w3-center" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container">
          <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Lorem Ipsum</b></p>
              <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
          </div>
      </div>
    <!-- end fourth -->
    <!-- fifth  -->
    <div class="w3-row-padding">
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/mountains.jpg" class="w3-center" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
          <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container">
          <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Lorem Ipsum</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
        <div class="w3-quarter  w3-container w3-margin-bottom">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>Lorem Ipsum</b></p>
              <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
          </div>
      </div>
    <!-- end fifth -->
    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>
    </body>
<!-- Footer -->
 <footer class="w3-container w3-padding-32 w3-dark-grey">
    <!-- <footer class="w3-container w3-teal w3-center w3-margin-top"> -->
      
        <div class="w3-row-padding">
          <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <p>Powered by <a href="#" target="_blank">US</a></p>
          </div>
          <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul w3-hoverable">
              <li class="w3-padding-16">
                <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
              </li>
              <li class="w3-padding-16">
                <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
              </li> 
            </ul>
          </div>
          <div class="w3-third">
            <h3>POPULAR TAGS</h3>
            <p>
              <a href="#"><span class="w3-tag w3-black w3-margin-bottom">News</span></a> <a href="#"><span class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a> <a href="#"><span class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a>
            </p>
          </div>
      
        </div>
        <!-- </footer>
        
        <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="US" target="_blank" class="w3-hover-opacity">w3.css</a></div> -->
      
    <!-- social footer -->
    <div class="w3-container w3-teal w3-center w3-margin-top">
    <!-- < class="w3-container w3-teal w3-center w3-margin-top"> -->
      <p>Find me on social media.</p>
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p>Powered by <a href="#" target="_blank">US</a></p>
    <!-- end social footer  -->
    </div>
    </footer>
    