<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- nav1 -->
    <div class="w3-top">
        <!-- Navigation bar with social media icons -->
        <div class="w3-bar w3-black w3-hide-small">
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
        </div>
        <!-- </div> -->
        <!-- end nav1 -->
        <!-- nav2 -->
        <!-- Navbar (sit on top) -->
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="index.html" class="w3-bar-item w3-button"><b></b> TNews</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="../index.html" class="w3-bar-item w3-button">Home</a>
                <a href="../hardware.html" class="w3-bar-item w3-button">Hardware</a>
                <a href="../cloud.html" class="w3-bar-item w3-button">Cloud</a>
                <a href="../infrastructure.html" class="w3-bar-item w3-button">Infrastructure</a>
                <a href="../software.html" class="w3-bar-item w3-button">Software</a>
                <a href="../technology.html" class="w3-bar-item w3-button">Technology</a>
                <a href="../business.html" class="w3-bar-item w3-button">Business</a>
                <a href="../security.html" class="w3-bar-item w3-button">Security</a>
                <a href="../contactus.html" class="w3-bar-item w3-button">About Us</a>
            </div>
        </div>
    </div>
    <!-- end nav2 -->
</head>

<body>
    <div style="padding-top: 10%; padding-bottom: 10%;">
        <div class="w3-col s12 m8 l9 w3-content w3-padding w3-margin">
            <img class="w3-image" src="../img/shutterstock_Dogecoin cryptocurrency coin.jpg" alt="Hamburger Catering"
                width="1600" height="800">
            <h1>John McAfee charged with cryptocurrency fraud</h1>
            <h5 class="">John McAfee, the founder of computer security software company McAfee, has been charged with conspiracy to commit fraud and money laundering.

                John McAfee and his bodyguard Jimmy Gale Watson Jr have been accused of using McAfee’s one million Twitter followers to promote and inflate the prices of cryptocurrencies, which were then sold for $2 million (£1.45 million).
                
                The indictment, filed in the Manhattan Federal Court in New York City, was unsealed late last week by the Manhattan US attorney Audrey Strauss and FBI assistant director William F. Sweeney Jr.
                
                Mastercard will soon support cryptocurrencies, but Bitcoin may not be one of them
                'Doki' malware attacks Docker servers using Dogecoin
                Has the US government finally nabbed John McAfee?
                Commenting on the charges, Strauss said that McAfee and Watson “exploited a widely used social media platform and enthusiasm among investors in the emerging cryptocurrency market to make millions through lies and deception,” and advised investors to “be wary of social media endorsements of investment opportunities”.
                
                Sweeney Jr added that the accused “used social media to perpetrate an age-old pump-and-dump scheme that earned them nearly two million dollars”.</h5>
        </div>
        <div class="w3-rest w3-padding w3-margin">
            <!-- Introduction menu -->
              <!--  Subscript Card -->
  <div class=" w3-margin w3-margin-top w3-padding w3-center ">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-dark-grey w3-button w3-hover-black" onclick="document.getElementById('id01').style.display='block'">Subscribe</a>

  </div><hr>
  <!-- Modal that pops up when you click on "New Message" -->
<div id="id01" class="w3-modal" style="z-index:4">
      <!-- Subscribe section -->
<div class="w3-modal-content w3-animate-zoom">
  <div class="w3-container w3-black w3-padding-32">
    <span onclick="document.getElementById('id01').style.display='none'"
    class="w3-button w3-white w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
    <h1>Subscribe</h1>
    <p>To get Latest News:</p>
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
    <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
  </div>
</div>
</div>
<!-- end Subscribe -->
  <!-- Posts -->
            <div class="w3-card ">
                <div class="w3-container w3-padding">
                    <h4>Popular Posts</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="https://www.w3schools.com/w3images/workshop.jpg" alt="Image"
                            class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Lorem</span><br>
                        <span>Sed mattis nunc</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://www.w3schools.com/w3images/gondol.jpg" alt="Image"
                            class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Ipsum</span><br>
                        <span>Praes tinci sed</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://www.w3schools.com/w3images/skies.jpg" alt="Image"
                            class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Dorum</span><br>
                        <span>Ultricies congue</span>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                        <img src="https://www.w3schools.com/w3images/rock.jpg" alt="Image"
                            class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Mingsum</span><br>
                        <span>Lorem ipsum dipsum</span>
                    </li>
                </ul>
            </div>
            <hr>
            <!-- Labels / tags -->
            <div class="w3-card">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                    </p>
                </div>
            </div>

            <!-- END Introduction Menu -->
        </div>
    </div>
</body>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-dark-grey">
        <div class="w3-row-padding">
            <div class="w3-third">
                <h3>FOOTER</h3>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                    congue gravida diam non fringilla.</p>
                <p>Powered by <a href="#" target="_blank">US</a></p>
            </div>
            <div class="w3-third">
                <h3>BLOG POSTS</h3>
                <ul class="w3-ul w3-hoverable">
                    <li class="w3-padding-16">
                        <img src="../img/shutterstock_Dogecoin cryptocurrency coin.jpg" class="w3-left w3-margin-right"
                            style="width:50px">
                        <span class="w3-large">John McAfee charged with cryptocurrency fraud
                        <br>

                    </li>
                    <li class="w3-padding-16">
                        <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right"
                            style="width:50px">
                        <span class="w3-large">Ipsum</span><br>
                        <span>Praes tinci sed</span>
                    </li>
                </ul>
            </div>
            <div class="w3-third">
                <h3>POPULAR TAGS</h3>
                <p>
                    <a href="#"><span class="w3-tag w3-black w3-margin-bottom">News</span></a> <a href="#"><span
                            class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a> <a href="#"><span
                            class="w3-tag w3-grey w3-small w3-margin-bottom">Tech News</span></a>
                </p>
            </div>
        </div>
        <div class="w3-container w3-teal w3-center w3-margin-top">
            <p>Find me on social media.</p>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <p>Powered by <a href="#" target="_blank">US</a></p>
            <!-- end social footer  -->
        </div>
    </footer>